
.ipynb_checkpoints/image-checkpoint.jpg
.ipynb_checkpoints/PictureCollecting-checkpoint.ipynb
Dataset/seribu/.ipynb_checkpoints/seribu_0-checkpoint.jpg
Dataset/seribu/seribu_0.jpg
Dataset/seribu/seribu_1.jpg
Dataset/seribu/seribu_10.jpg
Dataset/seribu/seribu_11.jpg
Dataset/seribu/seribu_12.jpg
Dataset/seribu/seribu_13.jpg
Dataset/seribu/seribu_14.jpg
Dataset/seribu/seribu_15.jpg
Dataset/seribu/seribu_16.jpg
Dataset/seribu/seribu_17.jpg
Dataset/seribu/seribu_18.jpg
Dataset/seribu/seribu_19.jpg
Dataset/seribu/seribu_2.jpg
Dataset/seribu/seribu_20.jpg
Dataset/seribu/seribu_21.jpg
Dataset/seribu/seribu_22.jpg
Dataset/seribu/seribu_23.jpg
Dataset/seribu/seribu_24.jpg
Dataset/seribu/seribu_25.jpg
Dataset/seribu/seribu_26.jpg
Dataset/seribu/seribu_27.jpg
Dataset/seribu/seribu_28.jpg
Dataset/seribu/seribu_29.jpg
Dataset/seribu/seribu_3.jpg
Dataset/seribu/seribu_30.jpg
Dataset/seribu/seribu_31.jpg
Dataset/seribu/seribu_32.jpg
Dataset/seribu/seribu_33.jpg
Dataset/seribu/seribu_34.jpg
Dataset/seribu/seribu_35.jpg
Dataset/seribu/seribu_36.jpg
Dataset/seribu/seribu_37.jpg
Dataset/seribu/seribu_38.jpg
Dataset/seribu/seribu_39.jpg
Dataset/seribu/seribu_4.jpg
Dataset/seribu/seribu_5.jpg
Dataset/seribu/seribu_6.jpg
Dataset/seribu/seribu_7.jpg
Dataset/seribu/seribu_8.jpg
Dataset/seribu/seribu_9.jpg
*.jpg
